*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-size: cover

}
header{
    width: 100%;
    background: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 10px;
}
body{
    background: #111; 
    color: white;
}

.container{
    display: flex;
    padding: 40px 5%;
    gap: 40px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}
ul{
    list-style: disc;
    margin-left: 20px;
}
.right img{
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 760px) {
    .container{
        flex-direction: column;
    }
    header{
        flex-direction: column;
        text-align: center;
    }
    header nav a{
        margin: 10px;
    }
    h1{
        font-size: 30px;
    }
}