*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif;
    background-size: cover;
}
body{
    background: black;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    color: black;
}
header .logo{
    font-weight: bold;
}
header nav a{
    margin-left: 15px;
    text-decoration: none;
    color:black;
    font-size: 14px;
}
.contact{
    display: flex;
}
.box{
    width: 50%;
    padding: 60px;
}
.left{
    border-right: 1px solid #555;
}
h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.subtitle{
    margin-bottom: 30px;
    font-size: 14px;
}
p{
    margin-bottom: 20px;
}
.instagram{
    margin-top: 30px;
}

@media (max-width:768px) {
    header {
        flex-direction: column;
        gap:10px;
    }
    .contact{
        flex-direction: column;
    }
    .box{
        width: 100%;
        padding: 30px;
    }
    .left{
        border-right: none;
        border-bottom: 1px solid grey;
    }
    h1{
        font-size: 20px;
    }
}