body{
    background-image: url('../images/Picture1.png');
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    background: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigationbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    color: white;
}
.logo{
    font-size: 15px;
    color: black;
    margin-left: 20px ;
}
.menu a{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.main{
    width: 100%;
    height: 100vh;
}
.tittle{
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
}

@media(max-width: 400px) {
    .tittle{
        font-size: 24px;
        bottom: 20px;
    }
    .menu{
        display: none;
    }
    .logo{
        font-size: 18px;
    }
}
.info-btn{
    position: absolute;
    top: 120px;
    left: 80px;
    padding: 10px 30px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background: transparent;
}
.info-btn:hover{
    background: black;
    color: white;
}