body {
  background: black;
  color: white;
  font-family: serif;
  padding: 90px 30px 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
   width: 50%;
    background: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.navigationbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    color: white;
}

h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

.box {
  width: 45%;
  margin-bottom: 60px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  margin-left: auto;
}

h3 {
  margin-bottom: 10px;
}


@media (max-width: 768px) {

  body {
    padding: 30px 20px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .box {
    width: 100%;
    text-align: left;
    margin-left: 0;
  }

  .right {
    margin-left: 0;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px; 
}
.logo {
  font-weight: bold;
  color: #000;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}