*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
  color: black;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.work {
  display: flex;
  padding: 40px;
}

.left {
  width: 30%;
  padding-left: -20px;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.right {
  width: 70%;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}


.card {
  width: 300px;
  border: 1px solid white;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
}

.card span {
  font-size: 14px;
  color: #ccc;
}


.big {
  transform: scale(1);
}

.bottom {
  margin-top: 100px;
}